<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | replace: site.url-a, site.url-b}}">
  <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl | replace: site.url-a, site.url-b}}">
</head>
 
<body>

	<div class="topbar">
		<a href="{{site.baseurl | replace: site.url-a, site.url-b}}/">
		<img src="{{site.baseurl | replace: site.url-a, site.url-b}}/assets/img/{% if site.top-img %}{{site.top-img}}{% endif %}" alt="{{site.top-des}}"></a>
	</div>
	
	<div class="wrapper">
		{% include sidebar.html %}
	</div>
	
	<div class="content-box">
    {{ content }}
	</div>

</body>

</html>
